<?xml version="1.0" encoding="utf-8"?>

<hibernate-configuration>
    <session-factory>

		<!-- Database Connection -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate-demo</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">dinavella5</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

		<!-- Hibernate Settings -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Mapping Entity -->
        <mapping class="Song"/>
    </session-factory>
</hibernate-configuration>