<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty
            scope="context"
            name="appName"
            source="spring.application.name"/>

    <!-- Console Logging -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{correlationId}] [%logger{36}] - %msg%n
            </pattern>
        </encoder>

    </appender>

    <!-- Logstash Appender -->
    <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">

        <destination>localhost:6000</destination>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <message>
                    <fieldName>message</fieldName>
                </message>

                <mdc/>

                <pattern>
                    <pattern>
                        {
                        "service":"${appName}"
                        }
                    </pattern>
                </pattern>

                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>

            </providers>

        </encoder>

    </appender>

    <!-- Spring Framework Logs -->
    <logger name="org.springframework"
            level="INFO"/>

    <!-- Hibernate Logs -->
    <logger name="org.hibernate"
            level="WARN"/>

    <!-- Root Logger -->
    <root level="INFO">

        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>

    </root>

</configuration>