spring:
  application:
    name: healthcare-app
  datasource:
    url: jdbc:h2:mem:healthcaredb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true

ollama:
  base-url: http://localhost:11434
  model: llama3
  timeout: 60000