server:
  port: 8090
spring:
  application:
    name: task-api
  zipkin:
    base-url: http://localhost:9411
  sleuth:
    sampler:
      probability: 1.0
  cloud:
    gateway:
      routes:
        - id: task-user-service
          uri: lb://task-user-service
          predicates:
            - Path=/auth/**, /users/**, /api/users/**, /
        - id: task-service
          uri: lb://task-service
          predicates:
            - Path=/api/tasks/**, /tasks/**
        - id: task-submission-service
          uri: lb://task-submission-service
          predicates:
            - Path=/api/submissions/**, /submissions
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"     
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka